<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/users" method="post">
        <input type="text" name="firstName" 
        value="<%= locals.firstName %>">
        <button type="submit">Submit</button>
    </form>
</body>

</html>
