<html lang="en">
  <body>
    <h1>Register User</h1>
    <form action="/users" method="post">
      <fieldset>
        <legend>Name</legend>
        <label>
          First
          <input type="text" name="firstName" value="<%= locals.firstName %>">
        </label>
        <br>
        <label>
          Last
          <input type="text" name="lastName" value="<%= locals.lastName %>">
        </label>
      </fieldset>
      <br>
      <label>
        Male
        <input type="radio" name="gender" value="Male">
      </label>
